.fuck{
  display: flex;
  align-items: center;
  justify-content: center;

}

.Textik{
    color: rgba(245, 3, 3, 0.884);
    font-family: Impact, 'Typemetry', 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    animation: bounce-bottom 9s infinite both;
  }

  @keyframes bounce-bottom {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }


 .Chert{
     position: relative;
     size: 200px;
     height: 50px;
     width: 50px;
 }

 .Chertik{
    position: relative;
    left: 1777px;
    transform: scale(-1, 1);
    height: 50px;
    width: 50px;
    
 }


body{
    height: 1000px;
    background: linear-gradient(180deg, rgb(232, 176, 232) 17%, rgb(181, 75, 255) 75%, rgb(166, 103, 255));
  }
  
  .heart {
   
    animation: heartbeat 1.5s infinite;
    background-color: rgba(216, 8, 8, 0.884);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 0 10px;

    transform: rotate(-45deg);
    position: absolute; 
    left: 45%; top: 70%;
    width: 150px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: rgba(216, 8, 8, 0.884);
    border-radius: 50%;
    height: 150px;
    position: absolute;
    width: 150px;
  }
  
  .heart:before {
    top: -75px;
    left: 0;
  }
  
  .heart:after {
    left: 75px;
    top: 0;
  }
  
  @keyframes heartbeat
  {
    0%
    {
      transform: scale( 1 )
        rotate(-45deg);    
    }
    20%
    {
      transform: scale( 1.25 )
        rotate(-45deg);  
    }
     40%
    {
      transform: scale( 1.5 )
        rotate(-45deg);
    }
  }

  .arr{
    max-width: 200px;
  }

  
  